body {
  background: #111;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.grid {
  margin:1em auto;
  border-collapse:collapse;
}
.grid td {
    cursor:pointer;
    border:0.1px solid #444;
    width: 10px;
    height: 10px;
}

button {
  line-height: 30px;
  font-weight: bold;
  padding: 0 20px;
  background: salmon;
  border: none;
  margin-left: 10px;
}
button:hover {
  background: lightsalmon;
}
#simulate {
  margin-left: 0px;
}
.loadedButtons {
  background: rgb(114, 186, 250);
}
.loadedButtons:hover {
  background: rgb(122, 251, 255);
}